<footer>
    <div class="footer__offers__container">
        <div class="footer__icon" style="background-image: url('./images/footer-icons/bg.jpg');">
            <img src="./images/footer-icons/delivery-icon.png" alt="stock">
            <p>Livrare rapidă</p>
        </div>
        <div class="footer__icon" style="background-image: url('./images/footer-icons/bg.jpg');">
            <img src="./images/footer-icons/stock-update-icon.png" alt="stock">
            <p>Produse noi</p>
        </div>
        <div class="footer__icon" style="background-image: url('./images/footer-icons/bg.jpg');">
            <img src="./images/footer-icons/rentable-price-icon.png" alt="price">
            <p>Prețuri avantajoase</p>
        </div>
        <div class="footer__icon" style="background-image: url('./images/footer-icons/bg.jpg');">
            <img src="./images/footer-icons/presents-icon.png" alt="presents">
            <p>Surprize plăcute</p>
        </div>
    </div>
    <div class="footer__parteners__container">
        <div class="parteners__text">
            <p>Parteneri Oficiali</p>
        </div>
        <div class="parteners__icons">
            <img src="./images/parteners-logos/cyclon-logo.jpg" alt="cyclon">
            <img src="./images/parteners-logos/mobil-logo.jpg" alt="mobil">
            <img src="./images/parteners-logos/speedway-logo.jpg" alt="speedway">
        </div>
    </div>
</footer>