<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ./html__common/head -%>
    <title id="title" data-title="catalog">Vulcanizare24</title>
</head>
<body class="body__servicii" style="background-image: url('./images/main-bg.jpg');">
    <%- include ./html__common/header -%>

    <div id="specs" class="full__filter__container full__filter__container__margin__old" style="background-image: url('./images/filter-container-bg.png')"></div>
    
    <div class="tires__main__container height" id="main"></div>

    <%- include ./html__common/footer -%>
</body>
</html>