<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ./html__common/head -%>
    <title id="title" data-title="catalog">Vulcanizare24</title>
</head>
<body class="body__servicii" style="background-image: url('./images/main-bg.jpg');">
    <%- include ./html__common/header -%>
    <div id="choose__tire__category" class="choose__tire__category">
        <a href="./anvelopePage.html" data-category="autoturisme"><img src="./images/page-pictogram/car.png" alt="car"> Autoturisme</a>
        <a href="./anvelopePage.html" data-category="industriale"><img src="./images/page-pictogram/industrial.png" alt="industrial"> Industriale</a>        
    </div>
    <%- include ./html__common/footer -%>
</body>
</html>