<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ./html__common/head -%>
    <title id="title" data-title="home">Vulcanizare24</title>
</head>

<body>
    <%- include ./html__common/header -%>
    <div class="home__full__container"  style="background-image: url('./images/home-main-bg.jpg');">
        <main class="home__main__info">
            <div class="home__main__title">
                <h1>Distribuitor oficial exclusiv a produselor de marcă Cyclon</h1>
                <br>
                <h3>-Peste 15 ani de experiență-</h3>
            </div>
            <br>
            <div class="home__main__text">
                <p>
                    Suntem distribuitor oficial exclusiv pe întreg teritoriul țării a produselor de marcă Cyclon. De peste 15 ani
                    de experiență în comercializarea anvelopelor, uleiului pentru orice tip de transport și prestarea
                    serviciilor de reparație a anvelopelor și a autoturismelor de tip camion și tehnică specială. Vă garantăm o
                    experiență unică de eficiență, calitate și preț alături de profesioniștii calificați care stau la dispoziția Dvs.
                </p>
            </div>
        </main>
        <section class="home__offer__section">
            <div class="slideshow__container">

                <div class="slides fade">
                    <div class="slides__context" style="background-image: url('./images/tires-offer.jpg');">
                        <p>La procurarea a 3 seturi de anvelope, aveți -5%</p>
                    </div>
                </div>
    
                <div class="slides fade">
                    <div class="slides__context" style="background-image: url('./images/oil-offer.jpg');">
                        <p>La procurarea a 3 tone de ulei, aveți -5%</p>
                    </div>
                </div>
    
            </div>
    
            <div>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </section>
    </div>
    <%- include ./html__common/footer -%>
</body>

</html>