<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ./html__common/head -%>
    <title id="title" data-title="catalog">Vulcanizare24</title>
</head>
<body class="body__servicii" style="background-image: url('./images/main-bg.jpg');">
    <%- include ./html__common/header -%>
    <div class="main__servicii" id="main">
		<h1 id="servicii__title"></h1>
		<iframe id="iframe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
    <%- include ./html__common/footer -%>
</body>
</html>