.contacts__main{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 10% 0 ;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    .contacts{
        width: 30%;
        margin-left: 10%;
        display: flex;
        flex-flow: column nowrap;
        background-color: rgba(240, 255, 255, 0.6);
        border-radius: 25px;
        
        .contacts__title{
            background-color: rgba(240, 255, 255, 0.8);
            border-radius: 25px 25px 0 0 ;
            p{
                font-size: 2vw;
                padding: 3% 0;
                width: 100%;
                text-align: center;
            }
        }

        table{
            font-family: 'Lora', serif;
            tr{
                font-size: 1.3vw;
                &{
                    :nth-child(1){
                        text-align: center;
                    }
                    :nth-child(2){
                        padding: 4% 0;
                        width: 85%;
                        list-style: none;
                        .day{
                            font-weight: bold;
                        }
                        .pause{
                            font-size: 1vw;
                        }
                    }
                }
            }
        }
    }
    .map{
        padding-right: 10%;
        iframe{
            border-radius: 25px;
            width: 40vw;
            height: 30vw;
        }
    }
}


