.body__servicii {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main__servicii {
    margin: 5vw 10% 10vw 10%;
    iframe {
        width: 60vw;
        height: 30vw;
    }
}